*.mp4
*.mp3
cortaopod
*.pdf
.vscode
*.pyc
*.env
client_secret_161888960164-dplq4p9rkp3qnq9ssudmbvo290rgqalr.apps.googleusercontent.com.json
*.str
texto_teste.txt
TIAGO LEIFERT - Flow #268.txt
/videos
.DS_Store
