{% extends 'base.html' %}


{% block header %}
<h1>Video detail</h1>
{% endblock %}

{% block actions %}
  <a class="btn btn-primary" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
  </svg> Go Home</a>
{% endblock %}

{% block cardtitle %} 
<div class="card-header">
  {{videoTitle}} - <a href="{{link}}" target="_blank">{{link}}</a>
</div>
{% endblock %}

{% block content %}
  <div class="d-flex gap-2 mb-3">
    <button class="btn btn-primary" 
           type="button"
           onclick="insertRow(this)"
           ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg></button>    
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
           <th>Stat time</th>
           <th>End time</th>
           <th>Title</th>
           <th>Resume</th>         
           <th>Path</th>
           <th>Short</th>         
           <th>Selected</th>                  
           <th>Speed up</th>
           <th>*</th>
           <th>*</th>
        </tr>
      </thead>
      {% for cut in cuts %}       
         <tr> 
          <td data-name="startTime">{{cut.startTime}}</td>
          <td data-name="endTime">{{cut.endTime}}</td>
          <td data-name="title">{{cut.title}}</td>
          <td data-name="resume">{{cut.resume}}</td>        
          <td data-name="cutPath">{{cut.cutPath}}</td>
          <td data-name="short">{{cut.short}}</td>
          <td><input type="checkbox" value="{{cut.id}}" class="selectedcut"></td>
          <td>
            <select class="speedup" data-id="{{cut.id}}">
              <option  selected value="1">
                  1
              </option>
              <option value="1.10">
                1.10
              </option>            
              <option value="1.25">
                1.25
              </option>
              <option value="1.5">
                1.5
              </option>
              <option value="1.75">
                1.75
              </option>
              <option value="2">
                2
              </option>
            </select>
          </td>
          <td><span style="cursor: pointer;"  onclick="editRow(this, '{{cut.id}}')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
          </svg></span></td>
          <td><span onclick="preview(this, '{{cut.id}}')" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv-fill" viewBox="0 0 16 16">
                 <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM2 2h12s2 0 2 2v6s0 2-2 2H2s-2 0-2-2V4s0-2 2-2z"/>
                 </svg>
              </span>
          </td>
        </tr>
      {% else %}
         <tr><td colspan="6">No cuts found</td> </tr>
      {% endfor %}  
    </table>
  </div>
  
  <div class="card">
    <button type="button" class="btn btn-primary" onclick="proccessVideos()">      
      Generate video clips
    </button>    
  </div>  
  

 <div class="modal" tabindex="-1" id="modalloading">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Processing....</h5>        
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <strong>Processing...</strong>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
      </div>      
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" id="modalediting">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editing</h5>        
      </div>
      <div class="modal-body">
        <div id="updateform">        
          <div class="mb-3">
            <label for="startTime" class="form-label">Start time</label>
            <input type="text" class="form-control field" id="startTime" placeholder="Start time">
          </div>
          <div class="mb-3">
            <label for="endTime" class="form-label">End time</label>
            <input type="text" class="form-control field" id="endTime" placeholder="End time">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control field" id="title" placeholder="Title">
          </div>        
          <div class="mb-3">
            <label for="resume" class="form-label">Resume</label>
            <textarea  class="form-control field" id="resume" placeholder="Resume" rows="3"></textarea>
          </div>            
          <div class="mb-3">
            <label for="quote" class="form-label">Quote</label>
            <textarea class="form-control field" id="quote" placeholder="Quote" rows="3"></textarea>
          </div>             
          <div class="mb-3">
            <label for="cutPath" class="form-label">Path</label>
            <textarea class="form-control field" id="cutPath" placeholder="Path" rows="3"></textarea>
          </div>   
          <div class="mb-3">
            <label for="short" class="form-label">Short</label>
            <input type="checkbox" id="short" class="field"> 
          </div>   
          <input id="id" type="hidden" class="form-control field">
        </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal" tabindex="-1" id="modalpreview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preview....</h5>        
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive embed-responsive-1by1">
          <video controls width="100%" id="preview-video" class="embed-responsive-item" playsinline preload=auto>
            <source id="preview-source" src="" type="video/mp4" />
          </video>            
        </div>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>        
      </div>
    </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalpreviewfromyoutube">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preview....</h5>        
      </div>
      <div class="modal-body">
        <div class="embed-responsive">
            <iframe id="ytplayer" type="text/html" width="750" height="360"
            src=""
            frameborder="0"></iframe>          
        </div>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>        
      </div>
    </div>
    </div>
  </div>
</div>


<input type="hidden" value="{{link}}" id="videolink" />

{% endblock %}



{% block scripts %}
  <script>
      async function proccessVideos(){
                        
        const allSelectors = document.querySelectorAll('.selectedcut');
        let selectedValues = [];
        allSelectors.forEach(element => {
           if(element.checked){
             selectedValues.push(element.value);
           }
        });
        
        const allSpeedUps = document.querySelectorAll('.speedup');
        let speedUps = [];
        allSpeedUps.forEach(element => {
           if(parseFloat(element.value) > 1){
              speedUps.push({[[element.getAttribute('data-id')]]: parseFloat(element.value)} );
           }
        });

        const videolink = document.getElementById("videolink").value;
        const requestData = {"videoLink": videolink, "ids": selectedValues, "speedUps": speedUps};
        
        let loadingModal = new bootstrap.Modal(
          document.getElementById('modalloading'),
          {backdrop: 'static', keyboard: false}
        );

        loadingModal.toggle();
        
        let respose = await fetch('/generate-video-cuts', {
          method: 'POST',
          headers: {
            "Content-Type": "application/javascript"
          },
          body: JSON.stringify(requestData)
        })

        respose.json().then(function(responseValue){
          alert(responseValue["message"]);
          loadingModal.toggle();
          window.location.reload()
        }).catch(function(error){
          alert(error);
          loadingModal.toggle();
        });
      }

      function editRow(element, id){        
        const rowElements = element.parentElement.parentElement.querySelectorAll('td');
        
        rowElements.forEach(function(column){
          let dataSet = column.dataset;          
          let value = column.innerHTML;
          if(dataSet.hasOwnProperty('name')){            
            document.getElementById(column.dataset["name"]).value = value;            
          }
        });

        document.getElementById("id").value = id;
        let editingModel = new bootstrap.Modal(
          document.getElementById('modalediting'),          
        );
        editingModel.toggle();
        
      } 
            
      function insertRow(element){        
        const rowElements = element.parentElement.parentElement.querySelectorAll('td');
        
        rowElements.forEach(function(column){
          let dataSet = column.dataset;          
          let value = column.innerHTML;
          if(dataSet.hasOwnProperty('name')){            
            document.getElementById(column.dataset["name"]).value = "";   
          }
        });

        document.getElementById("id").value = "";
        let editingModel = new bootstrap.Modal(
          document.getElementById('modalediting'),          
        );
        editingModel.toggle();
        
      } 


      async function saveChanges(){
        let elements = document.querySelector('#updateform').querySelectorAll('.field');
        let cut = {};
        elements.forEach(function(item){
          if (item.id == 'short'){
            cut[item.id] = item.checked;
          }else{
            cut[item.id] = item.value;
          }          
        })
         
        let requestData = {"cut": cut, "link": document.getElementById("videolink").value};
    
        let respose = await fetch('/video-detail', {
          method: 'PUT',
          headers: {
            "Content-Type": "application/javascript"
          },
          body: JSON.stringify(requestData)
        })

        respose.json().then(function(responseValue){
          alert(responseValue["message"]);          
          window.location.reload()
        }).catch(function(error){
          alert(error);          
        });       

      }

      async function preview(element, id){        
        const rowElements = element.parentElement.parentElement.querySelectorAll('td');
        let cut = {};
        rowElements.forEach(function(column){
          let dataSet = column.dataset;          
          let value = column.innerHTML;
          if(dataSet.hasOwnProperty('name')){            
            cut[column.dataset["name"]] = value;            
          }
        });
        
        let path = cut["cutPath"];
        const videolink = document.getElementById("videolink").value;
        if(path != undefined && path != null && path.trim() != '' ){
          let editingModel = new bootstrap.Modal(
              document.getElementById('modalpreview'), 
              {backdrop: 'static', keyboard: false}         
            );
          editingModel.toggle();
          document.getElementById("preview-source").setAttribute("src", `/stream-video?link=${videolink}&id=${id}`);
          document.getElementById("preview-video").load();
                    
        }else{
          //alert('Video clip not generated.')
          previewYoutube(element, id);
        }

        
      }

      async function previewYoutube(element, id){        
        const rowElements = element.parentElement.parentElement.querySelectorAll('td');
        let cut = {};
        rowElements.forEach(function(column){
          let dataSet = column.dataset;          
          let value = column.innerHTML;
          if(dataSet.hasOwnProperty('name')){            
            cut[column.dataset["name"]] = value;            
          }
        });

        let calculateSeconds = function(time){
          let startSplited = time.split(":");
          return (parseInt(startSplited[0]) * 60 * 60) + (parseInt(startSplited[1]) * 60) + (parseFloat(startSplited[2].split(',')[0])); 
        }
                
        const videolink = document.getElementById("videolink").value;

        let startTime = calculateSeconds(cut["startTime"]);
        let endTime = calculateSeconds(cut["endTime"]);

        
        //http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com
        let videoId = ''
        try {
          videoId = videolink.split('?')[1].split('=')[1]  
        } catch (error) {
          videoId = videolink.split('/')[4]
        }
        
        document.getElementById("ytplayer").setAttribute("src", `http://www.youtube.com/embed/${videoId}?autoplay=0&origin=http://127.0.0.1&start=${startTime}&end=${endTime}`);        
        let editingModel = new bootstrap.Modal(
            document.getElementById('modalpreviewfromyoutube'), 
            {backdrop: 'static', keyboard: false}         
          );
        editingModel.toggle();                    
                
      }

  </script>
{% endblock %}